@import "tailwindcss";

@theme {
  --color-nav_bg: #36404a;
  --color-primary : #EFF2F7;
  --color-secondary : #ABB4D2;
  --color-icons : #A6B0CF;
  --color-brand : #7269EF;
}

* {
  font-family: "Public Sans", sans-serif;
}
*::-webkit-scrollbar{
  display: none;
}
body {
  background-color: #303841;
}
Link:active{
  background: #000;
}

.add {
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.58);
  border: 2px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  transition: all 0.5s;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.add:hover {
  border: 2px solid black;
  transform: scale(1.03);
}

.add:active {
  transform: scale(0.95) rotateZ(1.7deg);
}